# Copyright (c) 2023 Renesas Electronics Corporation and/or its affiliates
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Renesas SmartBond(tm) DA1470x MCU selection"
	depends on SOC_SERIES_DA1470X

config SOC_DA14706
	bool "DA14706"

endchoice
