# DA1470x series Development Kit Pro board configuration

# Copyright (c) 2023 Renesas Electronics Corporation and/or its affiliates
# SPDX-License-Identifier: Apache-2.0

config BOARD_DA1470X_DK_PRO
	bool "DA1470x series Development Kit Pro board"
	depends on SOC_SERIES_DA1470X
